<%
/**
 * File: view.ejs
 * Abstract: Extending JS view for AdditionalResults widget
 * Version: 1.0
 */
%>
<rn:block id='Multiline-postResultList'>
<% if (results.length) { %>
<div class="additionalresults">
<% if (heading) { %>
    <h3><%= heading %></h3>
<% } %>
<% for (var i = 0; i < results.length; i++) { %>
    <% if (!results[i].Result) continue; %>
    <div class="result">
        <% if(results[i].Icon && results[i].Icon.URL) { %>
        <div class="icon">
            <img src="<%= results[i].Icon.URL %>"/>
        </div>
        <% } %>
        <div class="content">
            <%= results[i].Result %>
        </div>
    </div>
<% } %>
</div>
<% } %>
</rn:block>
