    <table class="yui3-datatable-table" table-layout = 'fixed'>
        <tr>
        <th class="rn_PerformanceTest_Header">API URL | Method Type | Status Code</th>
        <th class="rn_PerformanceTest_Header">Time Taken (in secs)</th>
        </tr>
        <% for (var i = 0; i < data.length; i++) {
            if (data[i].value){ %>
                <tr>
                    <td class = 'rn_PerformanceTest_Cell1'><%= data[i].key %></td>
                    <td class = 'rn_PerformanceTest_Cell2'><%= data[i].value %></td>
                </tr>
        <% }} %>
    </table>