#rn_DevelopmentHeader {
    color: #000;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.25em;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 11;
    margin-left: -227px;
    left: 50%;
}

#rn_DevelopmentHeader .rn_DevelopmentHeaderPanelContainer {
    border: 0;
}

#rn_DevelopmentHeader .rn_DevelopmentHeaderAlwaysVisible {
    padding: 0;
    position: relative;
    background: none;
    color: #000;
}

#rn_DevelopmentHeader .rn_DevelopmentHeaderAlwaysVisible .rn_DevelopmentHeaderButtons {
    padding: 1px 10px 0 0;
    position: absolute;
    right: 0;
    top: 0;
}

#rn_DevelopmentHeader .rn_DevelopmentHeaderAlwaysVisible button {
    background: none;
    border: 0;
    color: #000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-weight: normal;
    padding: 0;
    text-shadow: 0 1px 0 #FFF;
}

#rn_DevelopmentHeader #rn_DevelopmentHeaderPanel{
    background: none;
    border: 0;
    display: none;
}

#rn_DevelopmentHeader #rn_DevelopmentHeaderPanel, #rn_DevelopmentHeader div.rn_DevelopmentHeaderExpandingSection, #rn_DevelopmentHeader div.rn_DevelopmentHeaderAlwaysVisible {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
}

#rn_DevelopmentHeader div.rn_DevelopmentHeaderExpandingSection {
    background-color: #F7F7F7;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#rn_DevelopmentHeader div.rn_DevelopmentHeaderAlwaysVisible {
    background: #fcfcfc;
    background: -moz-linear-gradient(top, #fcfcfc 0%, #dfe0e1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#dfe0e1));
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#dfe0e1 100%);
    background: -ms-linear-gradient(top, #fcfcfc 0%,#dfe0e1 100%);
    cursor: pointer !important /*YUI adds an inline style for some reason*/;
    font-size: 95%;
    line-height: 2;
    margin: 0;
    min-height: 22px;
    text-shadow: 0 1px 0 #FFF;
}

#rn_DevelopmentHeader #rn_DevelopmentHeaderPanel.rn_ShiftMode.rn_Entered div.rn_DevelopmentHeaderAlwaysVisible {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#b0b0b2));
    background: -webkit-linear-gradient(top, #fcfcfc, #b0b0b2);
    background: -moz-linear-gradient(top, #fcfcfc, #b0b0b2);
    background: -ms-linear-gradient(top, #fcfcfc, #b0b0b2);
    background: linear-gradient(top, #fcfcfc, #b0b0b2);
}

#rn_DevelopmentHeader #rn_ExpandedDevelopmentHeader {
    border-bottom: 1px solid gray;
    text-align: left;
}

#rn_DevelopmentHeader .rn_SectionSubContainer {
    padding: 10px;
    margin-bottom: 5px;
}

#rn_DevelopmentHeader .rn_SectionSubContainer a {
    display: inline-block;
    margin: 3px 0;
}

#rn_DevelopmentHeader .rn_SectionSubContainer div span {
    display: inline-block;
    margin: 6px 0;
}

#rn_DevelopmentHeader .rn_SectionContainer h3 {
    background: #d4ebf9;
    background: -moz-linear-gradient(top, #d4ebf9 0%, #bed5e0 50%, #b6ced3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4ebf9), color-stop(50%,#bed5e0), color-stop(100%,#b6ced3));
    background: -webkit-linear-gradient(top, #d4ebf9 0%,#bed5e0 50%,#b6ced3 100%);
    background: -ms-linear-gradient(top, #d4ebf9 0%,#bed5e0 50%,#b6ced3 100%);
    border-bottom: 1px solid #B0B0B0;
    border-top: 1px solid #FFF;
    color: #2F2F2F;
    cursor: pointer;
    font-size: 1.167em;
    line-height: 1.3em;
    margin: 0;
    padding: 4px 4px 4px 8px;
}

.rn_HighlightWidget {
    background: linear-gradient(to left, #F0AA45 , #F3E990) !important;
    border: 2px orange ridge !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .rn_HighlightWidget {
        background: #F2CE70 !important;
    }
}

.rn_headerHeight {
    height: auto;
}

.fa {
    font-size: 1.5em;
}

.rn_widgetNote {
    cursor: pointer;
    display: none;
    top: 0;
    left: 0;
    color: #b4160a;
}

.rn_attributesDialog {
    height: 95%;
    overflow-y: auto;
}

.rn_AttributeLink {
    cursor: pointer;
}

.rn_InspectionArea {
    text-align: center;
}

#rn_DevelopmentHeader a.rn_InspectAll {
    display: block;
}

.tooltip {
    position: relative;
}

.rn_opaque {
    cursor: default;
    opacity: 0.2;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.rn_InspectionArea .tooltiptext {
    top: 4px;
    left: 55%;
}

.rn_widgetNote .tooltiptext {
    top: 0;
    left: 50%;
}

#rn_DevelopmentHeader .rn_SectionContainer h3:hover {
    background: #d4ebf9;
    background: -moz-linear-gradient(top, #d4ebf9 0%, #bed5e0 50%, #9badb2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4ebf9), color-stop(50%,#bed5e0), color-stop(100%,#9badb2));
    background: -webkit-linear-gradient(top, #d4ebf9 0%,#bed5e0 50%,#9badb2 100%);
    background: -ms-linear-gradient(top, #d4ebf9 0%,#bed5e0 50%,#9badb2 100%);
}

#rn_DevelopmentHeader div.rn_SectionContainer .rn_ErrorHighlight {
    background: #FBE6F2;
    border: 1px solid #D893A1;
    margin-bottom: 5px;
    padding-left: 5px;
}

#rn_DevelopmentHeader div.rn_SectionContainer .rn_WarningHighlight {
    background: #FDFCD2;
    border: 1px solid #ACAA0D;
    padding-left: 5px;
}

#rn_DevelopmentHeader div.rn_SectionContainer .rn_NotificationHighlight {
    background: #C1E5FF;
    border: 1px solid #5279A9;
    padding-left: 5px;
}

#rn_DevelopmentHeader h3 span {
    position: absolute;
    right: 12px;
    cursor: pointer;
}

#rn_DevelopmentHeader .rn_PanelTitle {
    bottom: -2px;
    font-weight: bold;
    position: relative;
}

#rn_DevelopmentHeader img.rn_PanelTitleImage {
    vertical-align: bottom;
    position: relative;
    top: -3px;
}

#rn_DevelopmentHeader ul {
    margin: 0;
    padding: 0;
}

#rn_DevelopmentHeader li {
    list-style-type: disc;
    list-style-image: none;
    list-style-position: outside;
    padding: 2px 0 3px;
    text-align: left;
}

#rn_DevelopmentHeader ul, #rn_DevelopmentHeader #rn_ModeContainer {
    margin-left: 20px;
}

#rn_DevelopmentHeader input {
    border: 1px solid #D1D1D1;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

#rn_DevelopmentHeader #rn_ModeContainer input {
    width: 90%;
}

#rn_DevelopmentHeader #rn_HeaderDisplayIcon {
    position: absolute;
    right: 35px;
    top: 5px;
    cursor: pointer;
}

#rn_DevelopmentHeader a:link, #rn_DevelopmentHeader a:visited {
    color: #2F2F2F;
}

#rn_DevelopmentHeader table {
    border-collapse: collapse;
}

#rn_DevelopmentHeader tbody {
    border: 1px solid #CCC;
}

#rn_DevelopmentHeader th {
    padding: 6px 4px;
}

#rn_DevelopmentHeader td {
    padding: 6px;
}

#rn_DevelopmentHeader tbody tr:last-child {
    border-top: 1px solid #DEDEDE;
}

#rn_DevelopmentHeader tr.alternate {
    background: #EEE;
    border: 1px solid #DEDEDE;
    border-width: 1px 0;
}

#rn_DevelopmentHeaderWidgetList table {
    table-layout: auto;
}

#rn_DevelopmentHeader tr.widgets {
    background: #DEDEDE;
}

#rn_DevelopmentHeader tr.widgets td {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2) inset;
    padding: 6px;
}

.rn_HighContrastMode #rn_DevelopmentHeader .container-close:before {
    display: none;
}

#codeDiv {
    bottom: 30;
    width: 100%;
    height: 60px;
    display: none;
}

.rn_DevelopmentHeaderHidden {
    display: none;
}

.rn_SaveWidgetPanel {
    right: 0;
    bottom: 0;
    display: block !important;
    padding: 7px;
    text-align: right;
    position: fixed;
}

.rn_SaveWidgetPanel button, .rn_SaveWidgetPanel button:hover, .rn_SaveWidgetPanel button:active {
    background: black !important;
    text-shadow: 0 1px 0 black !important;
    box-shadow: none !important;
}

.rn_ModifiedWidgetNote {
    color: black;
}

.rn_ErrorWidgetNote {
    color: black;
}

th.rn_PanelTitle {
    text-align: center;
    vertical-align: top;
}

.rn_WidgetAttrInlineLabel {
    display: inline;
}

.rn_WidgetInspectorDialog td {
    word-break: break-all;
    -ms-word-break: break-all;
}

.rn_WidgetInspectorDialog .rn_DialogTitle {
    margin-left: -0.2em;
}

.rn_WidgetInspectorDialog.yui3-panel-content.rn_ActionDialog .yui3-widget-hd {
    margin-bottom: 0;
}

.rn_WidgetAttrsValue input, select {
    margin-bottom: 0;
}

.rn_WidgetRequiredAttr {
    color: red;
    font-weight: bold;
    margin-left: -3px;
}

.left {
    float: left;
}

.rn_WidgetAttributeHelpTip {
    position: relative;
    display: inline;
    color: #0080ff;
    font-size: 20px;
    margin-left: 5px;
    cursor: default;
}
