/** Generic **/
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html.noBg,.noBg body {
    background: none;
}

html {
    color: #000;
    background-color: #15242a;
    overflow-y: scroll;
}

body {
    background: -webkit-gradient(linear,0 0,0 bottom,from(#13252C),to(#15242a)) #FFF;
    font: .875em Helvetica,Arial,sans-serif;
    height: 100%;
    line-height: 1.4em;
    min-width: 600px;
    text-align: left;
    padding: 0;
}

a {
    color: #193466;
    font-weight: 400;
    text-decoration: none;
}

a:hover,a:focus {
    text-decoration: underline;
}

img {
    border: 0;
}

h2,h3,h4 {
    clear: both;
    color: #666;
    font-weight: 400;
    padding: 14px 0;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.4em;
    letter-spacing: -1px;
}

h4 {
    font-size: 1.25em;
}

h5 {
    color: #666;
    font-size: 1.01em;
    padding-bottom: 4px;
}

pre {
    background: #FFF;
    border: 1px solid #CCC;
    clear: both;
    padding: 6px;
    border-radius: 2px;
    overflow: auto;
    margin: 10px 0;
}

code {
    background: #F8F8F8;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    font-size: 12px;
    padding: 0 2px;
}

pre, code {
    font-family: Consolas, Courier, monospace;
}

.searchType {
    padding: 4px;
}

input[type=button] {
    padding: 0 6px;
}

textarea {
    font: .875em Helvetica,Arial,sans-serif;
}

.button,button {
    background: #fff;
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.9), rgba(250, 250, 250, 0.9), rgba(200, 200, 200, 0.6));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.0, rgba(255, 255, 255, 0.9)), color-stop(0.5, rgba(250, 250, 250, 0.9)), color-stop(1.0,  rgba(200, 200, 200, 0.6)));
    border: 1px solid #CCC;
    cursor: pointer;
    padding: 6px 10px;
    *padding: 0;
    text-shadow: 0 1px 0 #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button:hover,.button:focus,button:not([DISABLED]):hover,button:focus {
    background: -moz-linear-gradient(center top , rgba(200, 200, 200, 0.6), rgba(250, 250, 250, 0.9), rgba(255, 255, 255, 0.9));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1.0, rgba(255, 255, 255, 0.9)), color-stop(0.5, rgba(250, 250, 250, 0.9)), color-stop(0.0,  rgba(200, 200, 200, 0.6)));
    text-shadow: 0 -1px 0 #fff;
}

/** Template **/
header,nav,#content,footer {
    margin: 0 auto;
    min-width: 600px;
    overflow: hidden;
    padding: 0 7.5%;
}

#wrap,footer .wrap {
    margin: 0 auto;
    min-width: 780px;
    *min-width: 800px;
    padding: 0 10px;
    width: 85%;
}
/** Plain Template **/
.plain {
    min-width: 600px;
}

/* Heading */
header {
    min-height: 50px;
    display: block;
    overflow: visible;
}

#sitetitle {
    float: left;
    max-width: 500px;
    padding-top: 15px;
}

#sitetitle h1 {
    font-size: 1.7em;
    line-height: .9em;
    margin: 20px 4px 10px 0;
    display: inline;
}

#sitetitle h1 a {
    color: #788F97;
    letter-spacing: -.05em;
    text-shadow: 1px 1px 4px rgba(255,255,255,.1);
    word-spacing: -.15em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

#sitetitle h1 a:hover,#sitetitle h1 a:focus {
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
}

#sitetitle h2 {
    font-size: 1.2em;
    margin: -14px 0 14px;
    padding: 0;
    display: inline;
    color: #CCC;
}

#user {
    color: #d0d0d0;
    float: right;
    font-size: small;
    margin-top: 7px;
    text-align: right;
}

#sitemode {
    font-size: x-small;
}

#sitemode a {
    color: #d0d0d0;
    text-decoration: none;
}

/* Navigation */
nav {
    display: block;
    overflow: hidden;
    height: 35px;
    background: #666;
    background: -moz-linear-gradient(center top, #888, #666);
    background: -ms-linear-gradient(center top, #888, #666);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#888), to(#666));
    border-top: 1px solid #AAA;
    width: 100%;
}
#toggleMenu {
    background: #CCC;
    background: rgba(255, 255, 255, .4);
    border-radius: 5px;
    color: #000;
    font-size: large;
    font-weight: bold;
    margin-top: 6px;
    padding: 0 5px;
    position: absolute;
    right: 5%;
    text-shadow: 0 1px 0 #FFF;
}
/* Applied to elements that start overflowing to a new line. */
.overflowed {
    position: relative;
    visibility: hidden;
    left: -10000px;
}
/* When the overflowed nav element has been expanded to show the overflowed elements. */
.overflowed.visible {
    position: static;
    visibility: visible;
}
li.overflowed.visible {
    width: auto !important;
    display: block;
    float: none !important;
    clear: both;
}
/* Hide dropdown chevrons since the dropdown content is always displaying. */
.overflowed.visible .yui3-menu-label i {
    display: none;
}

.overflowed.visible .yui3-menu-label {
    margin-top: .5em;
}

.overflowed.visible .dropdown {
    background: #D3C4C4;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin:0 0 .5em 1em;
}

/* Override YUI defaults in order to make dropdown items always visible. */
.yui3-menu .overflowed.visible .yui3-menu {
    display: block;
    position: static !important;
    float: none;
    overflow: hidden;
    width: auto !important;
    height: auto !important;
}

.overflowed.visible .yui3-menu.yui3-menu-hidden {
    visibility: visible;
}
@media screen and (max-width:800px) {
    #navmenu {
        float: none;
    }
}

#navmenu li {
    float: left;
    list-style: none;
}

#navmenu {
    float: left;
}

#navmenu > div > ul > li > a {
    color: #FFF;
    display: block;
    padding: 4px 10px 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
    height: 34px;
    *height: 28px;
    padding-top: 8px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

nav li.current > a {
    box-shadow: 0 3px 20px rgba(255, 255, 255, .2) inset;
}

nav li a:hover:not(.disabled),nav li a:focus:not(.disabled) {
    box-shadow: 0 3px 20px rgba(0, 0, 0, .2) inset;
    text-decoration: none;
}

nav a:hover, nav a:focus {
    background: #888;
    text-decoration: none;
}

nav li a small {
    padding: 4px;
    font-size: .7em;
}

nav .right form {
    z-index: 1;
}

#widgetInput {
    width: 200px;
    margin-top: 6px;
    *margin-top: 17px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -webkit-appearance: textfield;
    border-radius: 2px;
    border: 0;
    background: #DFDFDF;
}
.ie8 #widgetInput {
    border: 1px solid #DDD;
}

#widgetInput:focus {
    background: #FFF;
}
#viewSite {
    float: left;
    margin: 4px 0 0 10px;
}
#viewSite button {
    padding: 3px 4px;
    *padding-top: 0;
    height: 24px;
    font-size: 11px;
    background: transparent;
    text-shadow: none;
    color: #fff;
    border-color: #bbb;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

#viewSite button:hover, #viewSite button:focus {
    border-color: #eee;
    box-shadow: 0 3px 20px rgba(0, 0, 0, .2) inset;
}

#viewSiteDropdown #setEnv {
    border-top: 1px solid #e0e1e3;
    padding: 0 0 1.57em 0;
}

#viewSiteDropdown #setEnv a {
    float: right;
    padding: 0 4px 0 3px;
    border: 1px solid #e0e1e3;
    border-width: 0 0 0 1px;
}

#viewSiteDropdown #setEnv a:hover, #viewSiteDropdown #setEnv a:focus {
    box-shadow: none;
}

#viewSiteDropdown #setEnv a img {
    position: relative;
    top: 2px;
}

#langSelect {
    float: left;
    margin: 4px 0 0 10px;
}
#langSelect button {
    padding: 3px 4px;
    *padding-top: 0;
    height: 24px;
    font-size: 11px;
    background: transparent;
    text-shadow: none;
    color: #fff;
    border-color: #bbb;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}
#langSelect button:hover, #langSelect button:focus {
    border-color: #eee;
    box-shadow: 0 3px 20px rgba(0, 0, 0, .2) inset;
}
#langSelect #langSelectDropdown {
    border-top: 1px solid #e0e1e3;
}
#langSelect #langSelectDropdown.dropdown {
    overflow-y: auto;
    max-height: 75%;
}
#langSelect #langSelectDropdown.dropdown li.selected {
    background: #bbb;
}

#helpItem {
    display: inline-block;
    float: left;
    margin:3px 0 0 15px;
}
#helpItem i{
    color:white;
    font-size:1.3em;
}
#helpContainer {
    padding: 5px 9px 5px 8px;
    *padding-top: 0;
    height: 20px;
    width: 20px;
    font-size: 10px;
    box-shadow: 2px 4px 20px rgba(255, 255, 255, .4) inset \0/; /* IE 8+9 */
    text-shadow: none;
    color: #bbb;
    background: #1151b8;
    background-image: linear-gradient(bottom, #1151b8 45%, #297fff 75%, #3c9efa 90%);
    background-image: -o-linear-gradient(bottom, #1151b8 45%, #297fff 75%, #3c9efa 90%);
    background-image: -moz-linear-gradient(bottom, #1151b8 45%, #297fff 75%, #3c9efa 90%);
    background-image: -webkit-linear-gradient(bottom, #1151b8 45%, #297fff 75%, #3c9efa 90%);
    background-image: -ms-linear-gradient(bottom, #1151b8 45%, #297fff 75%, #3c9efa 90%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.45, #1151b8), color-stop(0.75, #297fff), color-stop(0.9, #3c9efa));
    border-color: #525252;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    border-radius: 5em;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    cursor: pointer;
}

#helpContainer > a {
    color: #eee;
    font-weight: bold;
}

#helpContainer:hover,
#helpContainer:focus {
    box-shadow: 2px 4px 20px rgba(255, 255, 255, .4) inset \0/; /* IE 8+9 */
    border-color: #444;
    background: #297fff;
    background-image: linear-gradient(bottom, #1151b8 32%, #297fff 66%, #3c9efa 83%);
    background-image: -o-linear-gradient(bottom, #1151b8 32%, #297fff 66%, #3c9efa 83%);
    background-image: -moz-linear-gradient(bottom, #1151b8 32%, #297fff 66%, #3c9efa 83%);
    background-image: -webkit-linear-gradient(bottom, #1151b8 32%, #297fff 66%, #3c9efa 83%);
    background-image: -ms-linear-gradient(bottom, #1151b8 32%, #297fff 66%, #3c9efa 83%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.32, #1151b8), color-stop(0.66, #297fff), color-stop(0.83, #3c9efa));
}

/* Main Content Area */
#content {
    background: #FFF;
    color: #303030;
    display: block;
    min-height: 500px;
    padding-top: 20px;
    padding-bottom: 40px;
    overflow-x:auto;
}

#content h2 {
    border-bottom: 2px solid #ccc;
    clear: left;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.6em;
    margin-bottom: 14px;
    padding: 14px 0 0 6px;
}

#content h2 a,#content h3 a {
    font-weight: 700;
}

#content p {
    margin: 0 0 15px;
}

#content ul,#content ol {
    margin: 0 0 15px 10px;
    padding-left: 10px;
}

#content ul li,#content ol li {
    margin: 0 0 3px 10px;
}

#content ul ul,#content ol ol {
    margin: 5px 0 5px 10px;
}

#content dl {
    margin-left: 1em;
}

#content dt {
    display: inline-block;
    font-style: italic;
}

#content dt:after {
    content: ":";
}

#content dd {
    padding: .7em 1em;
}

#widget_display a,#widget_display a:hover {
    border-bottom: none;
}

.widgetDescription {
    word-wrap: break-word;
}

/* Footer */
footer {
    clear: both;
    color: #ccc;
    display: block;
    font-size: .9em;
    height: 100px;
    line-height: 1.5em;
    padding-top: 10px;
}

footer .wrap {
    padding-top: 14px;
}

footer .left a {
    font-size: 1.2em;
    margin-right: 25px;
}

footer a {
    color: #ddd;
}

footer a:hover {
    color: #eee;
    text-decoration: none;
}

/* Common utility rules */
.screenreader {
    position: absolute;
    height: 1px;
    left: -10000px;
    overflow: hidden;
    top: auto;
    width: 1px;
}

.left {
    float: left;
    width: 49%;
}

.right {
    float: right;
    width: 49%;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.auto {
    width: auto;
}

.textleft {
    text-align: left;
}

.textright {
    text-align: right;
}

.textcenter {
    text-align: center;
}

.introtext,.introtext a {
    font-weight: 700;
}

.clear {
    visibility: hidden;
    clear: both;
    height: 1px;
}
/* Generic float clearing class that can be added to any container element
 * Based on the clearfix class from Dan Cederholm */
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.hide {
    display: none !important;
}

.invisible {
    visibility: hidden;
    opacity: 0;
}

.highlight {
    background: #FFFECD;
}

/* Boxes */
.info {
    background: #DCE3FF;
    border: 1px solid #BBC6F6;
    color: #5F5369;
    margin: 10px 0 20px;
    padding: 10px;
    text-shadow: 0 1px 0 #FFF;
    text-align: center;
}

.error {
    background: #FEFBCB;
    color: #C11B17;
    border: 1px solid #E9E176;
    margin: 10px 0;
    padding: 10px 10px 6px;
    right: 0;
    top: 0;
}

.validation.error {
    left: 2px;
    right: 340px;
    top: 250px;
}

.error img {
    padding-right: 10px;
}

.error a {
    color: #C11B17;
}

.warning,.warning a {
    color: red;
}

.deprecated {
    background: #FBE6F2;
    border: 1px solid #D893A1;
    clear: both;
    color: #333;
    margin: 10px 0 15px;
    padding: 10px;
}

.box {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #505050;
    line-height: 1.5em;
    margin: 0 0 20px;
    padding: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.message {
    background: #DCE3FF;
    border: 1px solid #BBC6F6;
    color: #9683A7;
    font-weight: bold;
    margin-bottom: 14px;
    padding: 4px 10px 3px;
    text-shadow: 0 1px 0 #FFF;
}

.childList {
    word-wrap: break-word;
}

/* Dropdowns */
.dropdown {
    overflow: hidden;
    background: #fff!important;
    border: 1px solid #a0a4a5;
    border-width: 0 1px 1px;
    min-width: 170px;
    text-align: left;
    z-index: 10!important;
    border-radius: 4px;
    box-shadow: 0 10px 10px rgba(0,0,0,.4);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown,.dropdown li {
    margin: 0;
    padding: 0;
}

.dropdown li {
    float: none!important;
    list-style: none;
}

.dropdown li a {
    border: none;
    border-bottom: 1px solid #e0e1e3;
    color: #444;
    display: block;
    font-weight: 400;
    padding: 9px 6px;
}

.dropdown li a:hover,.dropdown li a:focus {
    background: #f2f2f2;
    text-decoration: none;
}

.dropdown li a.disabled {
    color: #666;
    background-color: #F7F7F7;
}

.dropdown li a.disabled:hover {
    cursor: text;
    background: none;
    background-color: #F7F7F7;
}

.dropdown li:last-child {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-radius-top-left-radius: 0;
    border-radius-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
}

.dropdown .info {
    color: #666;
    background-color: #EFEFEF;
    border: 0;
    padding: 1em;
}

#content ul.dropdown {
    padding: 0;
    margin: 0;
}

#content .dropdown li {
    margin: 0;
}

/* Spinny loading */
.wait {
    background: url(../../images/indicator.gif) no-repeat;
    display: inline-block;
    height: 16px;
    margin: 0 10px;
    width: 16px;
    vertical-align: middle;
}

.bigwait {
    background: url(../../images/loading.gif) no-repeat center center;
    display: block;
    min-height: 66px;
    margin: 10px auto;
    width: 66px;
    vertical-align: middle;
}

#widgetAutocomplete div ul {
    margin: 0;
    padding: 0;
}

#widgetAutocomplete div ul li {
    margin: 0;
}

.yui3-skin-sam .yui3-aclist {
    z-index: 300;
    min-width: 200px;
}

.yui3-skin-sam .yui3-aclist-item {
    border-bottom: 1px dotted #eee;
    padding: 10px 6px;
}

.yui3-skin-sam .yui3-aclist-item-active a {
    color: #EFEFEF;
}

.yui3-aclist-item .richResult span {
    display: block;
    margin-top: 4px;
    overflow: hidden;
    font-size: 13px;
}

.yui3-aclist-item .richResult a {
    float: left;
}

.yui3-aclist-item .richResult a.version {
    float: right;
}

.rn_WidgetBreadCrumb{
    padding: 14px 0;
}

.rn_WidgetBreadCrumb .dropdown {
    position: absolute;
}

.rn_WidgetBreadCrumb .breadcrumbLink a{
    font-weight:700;
    font-size:1.4em;
}

.rn_WidgetBreadCrumb .breadcrumbLink img{
    cursor: pointer;
}

.rn_widgetItem a,.widgetItem a {
    color: #667085;
    display: block;
    padding: 5px;
    font-weight:700;
}

.rn_widgetItem a:hover,.rn_widgetItem a:focus,.widgetItem a:hover,.widgetItem a:focus {
    text-decoration: none;
}

.rn_widgetItem a:hover,.widgetItem a:hover {
    background-color: #D4D6D6;
    color: #FFF;
}

/* YUI overrides */
.yui3-menu .yui3-menu {
    margin-top: -3px;
    position: absolute;
    z-index: 10000;
}

.yui3-menu .yui3-shim {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.yui3-menu-hidden {
    top: -10000px;
    left: -10000px;
    visibility: hidden;
}

.yui3-menu li {
    list-style-type: none;
}

.yui3-menu ul,.yui3-menu li {
    margin: 0;
    padding: 0;
}

.yui3-menu-label,.yui3-menuitem-content {
    text-align: left;
    white-space: nowrap;
    display: block;
    _zoom: 1;
}

.yui3-menu-horizontal li {
    float: left;
    width: auto;
}

.yui3-menu-horizontal li li {
    float: none;
}

.yui3-menu-horizontal ul {
    *zoom: 1;
}

.yui3-menu-horizontal ul ul {
    *zoom: normal;
}

.yui3-menu-horizontal > .yui3-menu-content > ul:after {
    content: "";
    display: block;
    clear: both;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
}

.yui3-menu-content {
    *zoom: 1;
}

.yui3-menu-hidden .yui3-menu-content {
    *zoom: normal;
}
.yui3-menu-hidden .yui3-menuitem-content,.yui3-menu-hidden .yui3-menu-label {
    _zoom: normal;
}

.tooltip,.yui-skin-sam .yui-tt .bd {
    background: #000;
    border: 0;
    color: #FFF;
    padding: 12px;
    max-width: 300px !important;
    z-index: 22!important;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.yui-skin-sam .yui-tt-shadow {
    display: none;
}

.yui-skin-sam .yui-panel div.bd {
    background: #FFF;
    padding: 0;
}

.yui-skin-sam .rn_BreadCrumbDiv a.container-close {
    background: url(../../images/x.png) no-repeat;
    height: 21px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 21px;
}

.yui-skin-sam div.yui-ac-content {
    width: 27em;
}

.yui-skin-sam .yui-panel-container {
    z-index: 9999;
}

.yui-dt-col-deprecated {
    width: 12em;
}

.yui-dt-liner {
    color: #000;
}

.yui-dt0-col-replacement.yui-dt-col-replacement .yui-dt-liner {
    overflow: visible;
}

.yui-dt-col-plannedRemoval {
    width: 10em;
}

.yui-dt-sortable {
    border-bottom: none;
}

/* Tag gallery */
#content .rn_TagGalleryPreview ul {
    list-style-type: none;
}

#content .rn_TagGalleryPreview ul li {
    float: left;
}

/* Logs */
.rn_LogHeader {
    width: 90%;
    white-space: normal;
}

.scrollable {
    height: 500px;
    overflow-y: auto;
}

/* Tables */
.rn_Table {
    border: 1px solid #CFCFCF;
    border-spacing: 0;
    margin-bottom: 14px;
/*IE has problems*/
/* @codingStandardsIgnoreStart*/
    *border-collapse: collapse;
    border-collapse/*\**/: collapse\9;
/* @codingStandardsIgnoreEnd*/
}

.rn_Table a {
    text-decoration: underline;
    font-size: small;
    margin-right: 12px;
}

.rn_Table th {
    border-bottom: 1px solid #CFCFCF;
    cursor: pointer;
    padding: 6px;
    text-shadow: 1px 1px 1px #FFF;
    background: #EEE;
    background: -moz-linear-gradient(center top , #FEFEFE, #E0E0E0);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FEFEFE), to(#E0E0E0));
    text-align: left;
}

.rn_Table td {
    *position: relative;
    padding: 10px;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #E8E8E8;
    background: -moz-linear-gradient(center top , rgba(253, 253, 253, 0.9), rgba(245, 245, 245, 0.5), rgba(244, 244, 244, 0.5));
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.0, rgba(253, 253, 253, 0.9)), color-stop(0.5, rgba(245, 245, 245, 0.5)), color-stop(1.0, rgba(244, 244, 244, 0.5)));
}

.rn_Table td img {
    margin-right: 4px;
}

.rn_Table tr {
    background: #eee;
    background-color: #EDF5FF;
}

.rn_Table tr:hover {
    background: #bbb;
}

/****************
* Panel overrides
*****************/
.yui3-skin-sam .yui3-panel {
    min-width: 500px;
    outline: none;
}

.yui3-skin-sam .versionDialog.yui3-panel {
    max-width: 80%;
    min-width: 0;
}

.yui3-skin-sam .versionDialog.yui3-panel .yui3-widget-hd .yui3-widget-buttons {
    padding: 0;
}

.yui3-skin-sam .yui3-panel-content {
    -webkit-box-shadow: 0 0 5px #777;
    -moz-box-shadow: 0 0 5px #777;
    box-shadow: 0 0 5px #777;
}
.yui3-skin-sam .yui3-panel .yui3-panel-content .yui3-widget-ft .yui3-button.confirmButton {
    background: #FFF;
    background: url(../../images/mappingIcons.png) no-repeat 2px -38px, -moz-linear-gradient(center top , rgba(255, 255, 255, 0.9), rgba(250, 250, 250, 0.9), rgba(200, 200, 200, 0.6));
    background: url(../../images/mappingIcons.png) no-repeat 2px -38px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.0, rgba(255, 255, 255, 0.9)), color-stop(0.5, rgba(250, 250, 250, 0.9)), color-stop(1.0, rgba(200, 200, 200, 0.6)));
    margin-right: 8px;
    padding-left: 20px;
}
.yui3-skin-sam .yui3-panel .yui3-panel-content .yui3-button:hover,
.yui3-skin-sam .yui3-panel .yui3-panel-content .yui3-button:focus {
    text-decoration: none;
}
.yui3-skin-sam .yui3-panel .yui3-panel-content .yui3-widget-hd .yui3-button,
.yui3-skin-sam .yui3-panel .yui3-panel-content .yui3-widget-ft .yui3-button.cancelButton {
    background: none;
    border: 0;
    box-shadow: none;
}
.yui3-skin-sam .yui3-panel .yui3-panel-content .yui3-widget-ft .yui3-button.cancelButton {
    color: #3d67ce;
}
.yui3-skin-sam .yui3-panel .yui3-panel-content .yui3-widget-ft .yui3-button.printButton {
    left: 0;
    position: absolute;
}
.yui3-skin-sam .yui3-panel .yui3-panel-content .yui3-widget-ft {
    background: #EFF2F5;
}
.yui3-skin-sam .yui3-panel .yui3-widget-ft .yui3-widget-button-wrapper {
    display: block;
}
.yui3-skin-sam .yui3-panel .yui3-panel-content .yui3-widget-hd {
    background: #EEE;
    background: -moz-linear-gradient(top, #EEE, #C5C5C5);
    background: -ms-linear-gradient(top, #EEE, #C5C5C5);
    background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#C5C5C5));
    background: -webkit-linear-gradient(top, #EEE, #C5C5C5);
    background: linear-gradient(top, #EEE, #C5C5C5);
    border-bottom: 1px solid #808080;
    color: #4F4F4F;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFF;
}
.yui3-skin-sam .yui3-panel .yui3-panel-content .yui3-widget-hd button {
    padding: 0;
}
.yui3-skin-sam div.yui3-widget-mask {
    background-color: #CCC;
    opacity:0.7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /*IE8*/
    filter: alpha(opacity=0); /*IE7*/
}

/* autocomplete-list/assets/skins/sam/autocomplete-list.css */
/*
YUI 3.5.0 (build 5089)
Copyright 2012 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
/*@codingStandardsIgnoreStart*/
.yui3-aclist{position:absolute;z-index:1}.yui3-aclist-hidden{visibility:hidden}.yui3-aclist-aria{left:-9999px;position:absolute}.yui3-aclist-list{list-style:none;margin:0;overflow:hidden;padding:0}.yui3-aclist-item{cursor:pointer;list-style:none;padding:2px 5px}.yui3-aclist-item-active{outline:#afafaf dotted thin}.yui3-skin-sam .yui3-aclist-content{background:#fff;border:1px solid #afafaf;-moz-box-shadow:1px 1px 4px rgba(0,0,0,0.58);-webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.58);box-shadow:1px 1px 4px rgba(0,0,0,0.58)}.yui3-skin-sam .yui3-aclist-item-hover{background:#bfdaff}.yui3-skin-sam .yui3-aclist-item-active{background:#2647a0;color:#fff;outline:0}#yui3-css-stamp.skin-sam-autocomplete-list{display:none}
/*@codingStandardsIgnoreEnd*/
