	<ul class="nav nav-list">
		<li class="nav-header">Namespaces</li>
		<for each="item" in="data">
			<li style="white-space:nowrap;">{!
				if(item.alias !== '_global_') {
					var name = '<span class="jsdoc-class-index">' + item.name + '</span>' ;
					var icon = '<i class="icon-th"></i>';
					var indent = item.alias.split('.').length - 1;
					var content = '<span class="indent" style="padding-left:' + (indent * 18) + 'px;">' + icon + name + '</span>';

					if (item.deprecated) {
						content += ' <span class="pull-right label label-jsdoc label-jsdoc-deprecated">Deprecated</span> ';
					}

					if (item.isPrivate) {
						content += ' <span class="pull-right label label-jsdoc label-jsdoc-private">Private</span> ';
					}

					if (item.isProtected) {
						content += ' <span class="pull-right label label-jsdoc label-jsdoc-protected">Protected</span> ';
					}

					if (item.isInner) {
						content += ' <span class="pull-right label label-jsdoc label-jsdoc-inner">Inner</span> ';
					}

					if (item.isInterface) {
						content += ' <span class="pull-right label label-jsdoc label-jsdoc-interface">Interface</span> ';
					}

					if (item.hasMethod('getInstance')) {
						content += ' <span class="pull-right label label-jsdoc label-jsdoc-singleton">Singleton</span>';
					}
					output += new Link().toClass(item.alias).withText(content);
				}
			!}</li>
		</for>
	</ul>
