<div class="row">
	<div id="content" class="span12">
		<pre id="source-code" class="prettyprint linenums">
			{+data.source+}
		</pre>
		<script type="text/javascript">
			prettyPrint();
			var i = 1;
			$('#source-code li').each(function() {
				$(this).attr({ id: 'line' + (i++) });
			});
		</script>
	</div>
</div>