/**
 * File: ClickCounterWithAjax.css
 * Abstract: Provides styling for ClickCounterWithAjax widget
 * Version: 1.0
 */
.rn_ClickCounterWithAjax {
    padding: 10px;
}
.rn_ClickCounterWithAjax .rn_ClickCounterWithAjaxMessage {
    margin-bottom: 10px;
}
.rn_ClickCounterWithAjax .border0 {
    color: black;
    padding: 10px;
    background-color: red;
}
.rn_ClickCounterWithAjax .border1 {
    color: white;
    padding: 10px;
    background-color: black;
}
.rn_ClickCounterWithAjax .border2 {
    color: black;
    padding: 10px;
    background-color: white;
}
