@import 'widget-includes';

.rn_Facet {
    font-size: $base-font-size;

    .rn_ClearContainer {
        margin-left: 3px;
    }

    .rn_ClearFacets {
        font-weight: normal;
        color: $hero-color;
        font-size: $base-font-size;
        
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .rn_Content {
        ul li {
            list-style-type: none;
            padding-left: 13px;
            padding-top: 0px;
            font-weight: bold;
        }

        table {
            border-spacing: 0;
            margin-left: 10px;
        }
    }

    .rn_FacetsTitle {
        background: $theme-color;
        background: -moz-linear-gradient(top, $theme-color, $theme-color);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($theme-color), to($theme-color));
        font-weight: normal;
        border: 1px solid lighten($dark-gray, 60);
        border-bottom: 0;
        padding: 7px;
        font-size: $base-font-size;
        color: $hero-color;

        a {
            color: #FFF;
        }
    }

    .rn_FacetsList {
        border: 1px solid $medium-gray;
        padding: 10px;
        overflow: auto;

        ul li ul {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .rn_ActiveFacet {
        background: #e1eefd;
        border: 1px solid lighten($dark-gray, 60);
        font-size: $h3-font-size;
        padding: 10px;
    }

    .rn_FacetLink {
        padding: 3px;
        cursor: pointer;
        display: inline-block;
        font-weight: lighter;
        text-decoration: none;
        word-wrap: break-word;
    }

    .rn_FacetExpanded {
        @include icon($fa-var-minus-square);
    }
    
    .rn_FacetCollapsed {
        @include icon($fa-var-plus-square);
    }

    .rn_FacetExpanded, .rn_FacetCollapsed {
        display: inline-block;
        margin-right: 3px;
        vertical-align: top;
        
        &:before {
            margin-right: 0;
        }
    }

    .rn_FacetText {
        display: inline-block;
        width: 97%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include media($rn-large) {
            width: 96%;
        }
        @include media($rn-medium) {
            width: 90%;
        }
        @include media($rn-small) {
            width: 80%;
        }
    }

    .rn_ActiveFacet .rn_FacetText {
        display: inline-block;
        width: 70%;
        overflow: initial;
        text-overflow: initial;
        word-wrap: break-word;
        white-space: pre-line;
        @include media($rn-large) {
            width: 58%;
        }
        @include media($rn-medium) {
            width: 50%;
        }
        @include media($rn-small) {
            width: 40%;
        }
    }
    
    .rn_ActiveFacet .rn_FacetClearIcon {
        @include icon($fa-var-times-circle, after);

        &:after {
            display: inline-block;
            float: right;
            margin-left: 0px;
        }
    }

    .rn_FacetTreeIndent {
        padding-left: 8px;
    }

    a.rn_ActiveFacet {
        display: block;
        padding: 3px;
    }
    
    a.rn_CategoryExplorerLink {
        font-weight: normal;
    }
}

.rn_FacetsTitle.rn_Collapsed, .rn_FacetsTitle.rn_Expanded {
    cursor: pointer;
}

.rn_CategoryExplorerTitleDiv {
    background: #536a8b;
    color: #FFF;
    font-weight: normal;
    border-bottom: 1px solid #CCC;
    padding: 7px;
    line-height: 1.4em;
}

.rn_CategoryExplorerContentDiv {
    padding: 12px;
    overflow: auto;
}

.rn_CategoryExplorerContentDiv ul {
    list-style: none outside none;
}

.rn_CategoryExplorerExpandedHidden {
    display: none;
}

.rn_CategoryExplorerCollapsedHidden {
    visibility: hidden;
    width: 16px;
}

.rn_CategoryExplorerCollapsed, .rn_CategoryExplorerExpanded {
    font-family: 'FontAwesome';
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
}

.rn_CategoryExplorerCollapsed:before {
    font-family: 'FontAwesome';
    margin-right: 6px;
    content: "\f0fe";
}

.rn_CategoryExplorerExpanded:before {
    font-family: 'FontAwesome';
    margin-right: 6px;
    content: "\f146";
}

.rn_CategoryExplorer a.rn_CategoryExplorerLink {
    line-height: 26px;
}
.rn_CategoryExplorer a:link {
    color: #3B6DB1;
    white-space: nowrap;
}

.rn_CategoryExplorerItem {
    line-height: 30px;
    white-space: nowrap;
}

.rn_CategoryExplorerItem ul {
    padding-left: 18px;
}

.rn_CategoryExplorerListHidden {
    display: none;
}

.rn_CategoryExplorerLinkSelected {
    background: #EBEFF5;
    border: 1px solid #CCC;
    padding: 10px;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.rn_CategoryExplorerLinkSelected:after {
    font-family: 'FontAwesome';
    margin-left: 6px;
    content: "\f057";
}

.rn_CategoryExplorerLinkSelected:after {
    margin-left: 10px;
}

.rn_moreLink.ygtvloading:before {
    display: inline-block;
}

.ygtvfocus, .ygtvchildren .ygtvfocus .ygtvlabel {
    background-color: #536a8b;
}

.ygtvchildren .ygtvfocus .ygtvlabel, .ygtvchildren .ygtvfocus .ygtvlabel:link, .ygtvchildren .ygtvfocus .ygtvlabel:visited, .ygtvchildren .ygtvfocus .ygtvlabel:hover {
    background-color: #536a8b;
    color: #FFF;
}

.ygtvlabel {
    color: #111;
}
  .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover {
    color: #111;
}

.rn_ProductCategoryLinks {
    width: 400px;
}

.rn_CategoryExplorerList .rn_LeafNode {
    margin-left: 29px;
    }
