/**
 * Override default admin.css rules
 */
#container {
    width: 85%;
    margin: auto;
    padding: 10px 20px;
    -webkit-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
}
#container > .title {
    font-weight: 300;
    color: #000;
    border-bottom: 1px solid #ccc;
    margin-right: -10px;
    margin-left: -10px;
}
#container p {
    margin: 15px 0;
}
#container h3 {
    margin: 10px 0;
    font-weight: 300;
    color: #000;
}
#container fieldset {
    border: 0;
}
#content {
    padding-top: 35px;
}
.note,
.warning {
    color: #20526a;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    padding: 4px 11px 4px 16px;
    border-radius: 4px;
    overflow: auto;
}
.error {
    color: #C11B17;
    background: #FEFBCB;
    border: 1px solid #E9E176;
    padding: 4px 11px 4px 16px;
    border-radius: 4px;
    overflow: auto;
}
a {
    border-bottom: 1px dotted #193466;
}
a:hover {
    border-bottom: 1px solid #193466;
    text-decoration:none;
}
/**
 * Generic styles for a collapsible list
 */
#container .collapsible-list {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    overflow-y: auto;
}
#container .collapsible-list .item {
    margin: 0 0 2px 0;
}
.collapsible-list .header {
    line-height: 30px;
    border: 1px solid #AFC7EB;
    position: relative;
    word-wrap: break-word;

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #e4f0ff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e4f0ff),to(#abcdee));
    background-image: -webkit-linear-gradient(top, #e4f0ff, #abcdee);
    background-image: -moz-linear-gradient(top, #e4f0ff, #abcdee);
    background-image: -ms-linear-gradient(top, #e4f0ff, #abcdee);
    background-image: linear-gradient(top, #e4f0ff, #abcdee);
}
.collapsible-list.enabled .header {
    cursor:pointer;
}

.collapsible-list .header.selected {
    border: 1px solid #1D9DE6;
    background-color: #8EC7E1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e4f0ff), to(#77bbdb));
    background-image: -webkit-linear-gradient(top, #e4f0ff, #77bbdb);
    background-image: -moz-linear-gradient(top, #e4f0ff, #77bbdb);
    background-image: -ms-linear-gradient(top, #e4f0ff, #77bbdb);
    background-image: linear-gradient(top, #e4f0ff, #77bbdb);
}
.collapsible-list .header.corner {
    border-radius: 2px;
}
.collapsible-list .header .expand {
    border-left: 1px solid #AFC7EB;
    position: absolute;
    top: 0;
    right: 0;
}
.collapsible-list .header .icon {
    display: inline;
    float: right;
    padding: 2px 4px 0 4px;
    margin: 4px 9px;
    border-radius: 50%;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #fff;
    background: #e3efff;
}
.collapsible-list .description {
    display: none;
    padding: 8px;
    background-color: #DDD;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid #AAA;
}
.collapsible-list .description.expanded {
    display: block;
}
.collapsible-list .header a:link,
.collapsible-list .header a:visited,
.collapsible-list .header a:hover {
    text-decoration:none;
    font-weight: 300;
    color:#000;
    border: none;
}
