#migrateFramework{
    background:#f3faff;
    border:1px solid #B8CADA;
    border-width:1px 0 4px;
    clear:both;
    display:block;
    margin:40px 0;
    overflow:visible;
    padding:20px 10px;
}
#migrateFramework button{
    font-size:1.175em;
    padding:14px 20px;
}