/*
*= require yui panel/assets/skins/sam/panel.css
*/

table.businessObject {
    border-spacing: 0;
    border: 1px solid #7F7F7F;
    border-radius: 3px;
    width: 100%;
}

table.businessObject td, table.businessObject th {
    border-left: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}

table.businessObject th {
    background-color: #ccc;
    background-image: -webkit-linear-gradient(top, #fff, #d8d8da);
    background-image: -moz-linear-gradient(top, #fff, #d8d8da);
    background-image: -ms-linear-gradient(top, #fff, #d8d8da);
    background-image: linear-gradient(top, #fff, #d8d8da);
    border-top: none;
    color: #000;
    font-weight: normal;
}

table.businessObject td:first-child, table.businessObject th:first-child {
    border-left: none;
}

table.businessObject th:first-child {
    border-radius: 3px 0 0 0;
}

table.businessObject th:last-child {
    border-radius: 0 3px 0 0;
}

table.businessObject th:only-child {
    border-radius: 3px 3px 0 0;
}

table.businessObject tr:last-child, table.businessObject td:first-child {
    border-radius: 0 0 0 3px;
}

table.businessObject tr:last-child, table.businessObject td:last-child {
    border-radius: 0 0 3px 0;
}


table.businessObject tr:nth-child(even) {
    background: #edf5ff;
}

table.businessObject tr:nth-child(odd) {
    background: #fff;
}

table.businessObject tr:hover {
    background: #D9E8FC;
}

#businessObjectDetails {
    border-spacing: 0;
    padding: 5px;
    table-layout: fixed;
    width: 100%;
}

#businessObjectDetails td {
    padding: 2px 0;
    word-wrap: break-word;
}

#businessObjectDetails td:first-child {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    width: 125px;
    vertical-align: top;
}

#businessObjectDetails td:last-child {
    width: 350px;
}

div.right {
    width: 25% !important;
}

#businessObjectDetails ul {
    margin-left: 15px !important;
}

#namedValuesOuterContainer {
    width: 350px;
    border: 1px solid #888;
    overflow: hidden;
}

#namedValuesOuterContainer .namedValueHeaderRow {
    clear: both;
    width: 100%;
    float: left;
    background-color: #ccc;
}

#namedValuesOuterContainer .namedValueHeaderId {
    float: left;
    width: 25%;
    padding-left: 6px;
}

#namedValuesOuterContainer .namedValueHeaderLookupName {
    float: left;
    width: 75%;
    padding-left: 6px;
}

#namedValuesInnerContainer {
    height: 75px;
    overflow: auto;
    *overflow-x: hidden;
}

#namedValuesTable {
    border-spacing: 0;
    width: 100%;
}

#namedValuesTable td {
    padding-left: 10px;
    font-weight: normal !important;
    text-align: left;
}

#namedValuesTable td:first-child {
    width: 25%;
    text-align: left;
    border-right: 1px solid #ccc;
}

#namedValuesTable tr:nth-child(even) {
    background: #edf5ff;
}

#namedValuesTable tr:nth-child(odd) {
    background: #fff;
}
