.example .label, .example a {
    font-size: smaller;
}
#content dl {
    margin-top: .8em;
}
#content dt {
    border-bottom: 1px dashed #CCC;
    cursor: pointer;
    display: block;
    font-style: normal;
    font-weight: bold;
}
#content dt .toggle {
    color:rgba(204, 204, 204, 0.1);
    float: right;
    font-size:11px;
}
#content dl > dt .toggle {
    font-size:12px;
}
#content dt:hover .toggle {
    color:#888;
}
#content dt.collapsed .toggle {
    color:#303030;
}
#content > dl > dt {
    border-bottom: 1px solid #303030;
    display: block;
}
#content dd ul {
    margin-bottom: 0;
}