.rn_FeedbackPageWrapper {
    padding:0 3px 0 2px;
}

fieldset.rn_FeedbackFieldset {
    margin-left: 3px;
}

fieldset.rn_FeedbackFieldset .ui-controlgroup-label {
    font-weight: bold;
}

.rn_FeedbackQuestionText {
    font-weight: bold;
}

.rn_FeedbackDesktopLink {
    margin-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

.rn_FeedbackDesktopLink .ui-link {
    color: #2D648A;
    font-size: 12px;
}

.rn_MatrixInputRadio,
.rn_MatrixInputCheckbox {
    display: inline-block;
    width: 53px;
}

.rn_MatrixInputRadio input,
.rn_MatrixInputCheckbox input,
.rn_FieldInputCheckbox input {
    left: 0;
}

.rn_MatrixInputCheckbox div label,
.rn_FieldInputCheckbox div label {
    border-radius: 0;
    -webkit-border-radius: 0;
}

.rn_FeedbackChoiceWrapper {
    -webkit-border-radius: inherit;
    border-radius: inherit;
}

.ui-selectmenu-list .ui-focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-btn-down-c {
    border: 1px solid #ccc;
    background: #eee;
    font-weight: 700;
    color: #222;
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f1f1f1));
    background-image: -webkit-linear-gradient(#fff,#f1f1f1);
    background-image: -moz-linear-gradient(#fff,#f1f1f1);
    background-image: -ms-linear-gradient(#fff,#f1f1f1);
    background-image: -o-linear-gradient(#fff,#f1f1f1);
    background-image: linear-gradient(#fff,#f1f1f1);
}
.ui-btn-down-c:visited,.ui-btn-down-c a.ui-link-inherit {
    color: #2f3e46;
}

.ui-btn-icon-notext {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-btn-icon-left .ui-btn-inner .ui-btn-text {
    margin-right: 35px;
}

/* Temporary for PC work */
img {
    max-width: 100%;
}

/* Phone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    img {
        max-device-width: 100%;
        max-width: 100%;
    }
}

/* Tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    img {
        max-device-width: 100%;
        max-width: 100%;
    }
}

.ui-table-reflow td .ui-table-cell-label, .ui-table-reflow th .ui-table-cell-label {
    min-width: 50%;
}

@media (min-width: 40em) {
    .rn_FeedbackMatrixQuestion td,
    .rn_FeedbackMatrixQuestion th,
    .rn_FeedbackMatrixQuestion tbody th,
    .rn_FeedbackMatrixQuestion tbody td,
    .rn_FeedbackMatrixQuestion thead td,
    .rn_FeedbackMatrixQuestion thead th {
        display: table-cell;
        margin: 0;
        text-align: center;
    }
    .rn_FeedbackMatrixQuestion td .ui-table-cell-label,
    .rn_FeedbackMatrixQuestion th .ui-table-cell-label {
        display: none;
    }
}

@media (max-width: 40em) {
    .ui-table-reflow td {
        padding: 0 0 0 10px;
        margin: 0;
    }
    .ui-table-reflow tbody th {
        margin: 0;
        padding: 8px 0 0;
    }
    .ui-table-cell-label {
        max-width: 40px;
    }

    .ui-table-reflow td b,
    .ui-table-reflow td div{
        vertical-align: middle;
    }
}
