@import 'widget-includes';

.rn_Facet {
    .rn_ClearContainer {
        margin-left: 3px;
    }

    .rn_ClearFacets {
        font-weight: normal;
        color: #00C;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .rn_FacetExpanded {
        @include icon($fa-var-minus-square);
    }
    
    .rn_FacetCollapsed {
        @include icon($fa-var-plus-square);
    }

    .rn_FacetExpanded, .rn_FacetCollapsed {
        float: left;
        display: inline-block;
        margin-right: 3px;
        vertical-align: top;
        
        &:before {
            margin-right: 0;
        }
    }
    
    .rn_Content {
        ul li {
            list-style-type: none;
            padding: 5px 0;
            font-weight: bold;
        }

        table {
            border-spacing: 0;
            margin-left: 10px;
        }
    }

    a.rn_ActiveFacet {
        display: block;
        padding: 3px;
        width: unset;
        margin-bottom: 5px;
        white-space: initial;
    }
    
    a.rn_CategoryExplorerLink{
        font-weight: normal;
        overflow: hidden;
    }

    .rn_FacetsTitle {
        background: lighten($hero-background, 10%);
        color: $hero-color;
        font-weight: normal;
        border: 1px solid #CCC;
        border-bottom: 0;
        padding: 7px;

        a {
            color: $hero-color;
        }
    }

    .rn_FacetsList {
        border: 1px solid #BEBEBE;
        padding: 10px;
        overflow: auto;

        ul li ul {
            padding-top: 0;
            padding-bottom: 0;
        }
        
        li ul li {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .rn_ActiveFacet {
        background: #EBEFF5;
        border: 1px solid #CCC;
        padding: 10px;
        font-size: $form-font-size;
        font-family: $form-font-family;
        font-weight: bold;
    }

    .rn_FacetLink {
        padding: 3px;
        cursor: pointer;
        display: block;
        font-weight: lighter;
        text-decoration: none;
    }

    .rn_FacetText {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .rn_ActiveFacet .rn_FacetText {
        display: inline-block;
        width: 70%;
        overflow: initial;
        text-overflow: initial;
        word-wrap: break-word;
        white-space: pre-line;
        @include media($rn-large) {
            width: 58%;
        }
        @include media($rn-medium) {
            width: 50%;
        }
        @include media($rn-small) {
            width: 40%;
        }
    }
    
    .rn_ActiveFacet .rn_FacetClearIcon {
        @include icon($fa-var-times-circle, after);

        &:after {
            display: inline-block;
            float: right;
            margin-left: 0;
        }
    }
}

.rn_CategoryExplorerExpanded {
    @include icon($fa-var-minus-square);
    display: inline-block;
    float: left;
    margin-right: 10px;
    padding: unset;
}

.rn_CategoryExplorerCollapsed {
    @include icon($fa-var-plus-square);
    display: inline-block;
    margin-right: 0px;
    float: left;
    margin-right: 10px;
    padding: unset;
}

.rn_FacetTreeIndent {
    padding-left: 20px;
}

    .rn_FacetsTitle.rn_Collapsed, .rn_FacetsTitle.rn_Expanded {
        cursor: pointer;
    }

    .rn_CategoryExplorer {
        border: 1px solid #CCC;
    }

    .rn_CategoryExplorerTitleDiv {
        background: lighten($hero-background, 10%);
        color: $hero-color;
        font-weight: normal;
        border-bottom: 1px solid #CCC;
        padding: 7px;
        line-height: 1.4em;
    }

    .rn_CategoryExplorerContentDiv {
        padding: 12px;
        overflow: auto;

        ul {
            list-style: none outside none;
        }
    }

    .rn_CategoryExplorerExpandedHidden {
        display: none;
    }

    .rn_CategoryExplorerCollapsedHidden {
        visibility: hidden;
        width: 16px;
    }

    .rn_CategoryExplorerCollapsed, .rn_CategoryExplorerExpanded {
        font-family: 'FontAwesome';
        display: inline-block;
        margin-right: 5px;
        text-decoration: none;
    }

    .rn_CategoryExplorerCollapsed {
        @include icon($fa-var-plus-square);
    }

    .rn_CategoryExplorerExpanded {
        @include icon($fa-var-minus-square);
    }

    .rn_CategoryExplorer a {
        &.rn_CategoryExplorerLink {
            line-height: 26px;
        }

        &:link {
            color: #3B6DB1;
            white-space: nowrap;
        }
    }

    .rn_CategoryExplorerItem {
        line-height: unset;
        white-space: nowrap;

        ul {
            padding-left: 30px;
        }
    }

    .rn_CategoryExplorerListHidden {
        display: none;
    }

    .rn_CategoryExplorerLinkSelected {
        background: #EBEFF5;
        border: 1px solid #CCC;
        padding: 10px;
        font-size: $form-font-size;
        font-family: $form-font-family;
        font-weight: bold;
        @include icon($fa-var-times-circle, after);
        &:after {
            margin-left: 10px;
        }
    }

    .rn_moreLink.ygtvloading:before {
        display: inline-block;
    }

    .ygtvfocus, .ygtvchildren .ygtvfocus .ygtvlabel {
        background-color: #536a8b;
    }

    .ygtvchildren .ygtvfocus .ygtvlabel, .ygtvchildren .ygtvfocus .ygtvlabel:link, .ygtvchildren .ygtvfocus .ygtvlabel:visited, .ygtvchildren .ygtvfocus .ygtvlabel:hover {
        background-color: #536a8b;
        color: #FFF;
    }

    .ygtvlabel {
        color: #111;

        &:link, &:visited, &:hover {
            color: #111;
        }
    }

    .rn_ProductCategoryLinks {
        width: 400px;
    }

    .rn_CategoryExplorerList .rn_LeafNode {
        margin-left: 26px;
    }
