/**
 * File: DisplayChartReport.css
 * Abstract: Provides styling for the DisplayChartReport widget
 * Version: 1.0
 */
.rn_DisplayChartReport .rn_ChartContainer {
    width: 750px;
    height: 600px;
    padding-top: 12px;
}

.rn_DisplayChartReport .rn_ChartHeaderText {
    font-weight: bold;
}
.rn_DisplayChartReport .rn_UpdateButton {
    float: right;
    background: #ebebeb;
    background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#dddcde));
    background: -webkit-linear-gradient(top, #F7F7F7, #dddcde);
    background: -moz-linear-gradient(top, #F7F7F7, #dddcde);
    background: -ms-linear-gradient(top, #F7F7F7, #dddcde);
    background: linear-gradient(top, #F7F7F7, #dddcde);
    border-radius:4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .35);
    border: 1px solid #949699;
    color:#222;
    cursor:pointer;
    font-weight:bold;
    padding: 4px;
    margin-right: 10px;
    min-width: 54px;
    text-decoration: none;
}
.rn_DisplayChartReport .rn_UpdateButton:focus,
.rn_DisplayChartReport .rn_UpdateButton:hover {
    background:#dddcde;
    border-color:#686969;
}
.rn_DisplayChartReport .rn_UpdateButton:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .35) inset;
}

/* This rule is necessary for YUI to correctly render the charts. If this rule is excluded, then fetchCSS must be enabled, which causes two extra style sheets to be included with this example. */
.yui3-widget-content-expanded {
    height: 100%;
}
