/*
*= require yui tabview/assets/skins/sam/tabview.css
*= require yui datatable-base/assets/skins/sam/datatable-base.css
*= require yui datatable-scroll/assets/skins/sam/datatable-scroll.css
*= require yui panel/assets/skins/sam/panel.css
*/
#history {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-padding-end: 3px;
    -moz-padding-end: 3px;
    background: #fff;
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.9), rgba(250, 250, 250, 0.9), rgba(200, 200, 200, 0.6));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.0, rgba(255, 255, 255, 0.9)), color-stop(0.5, rgba(250, 250, 250, 0.9)), color-stop(1.0,  rgba(200, 200, 200, 0.6)));
    border: 1px solid #CCC;
    height: 31px;
    width: 550px;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.controls {
    padding: 0 0 10px 10px;
}
.explorerContainer{
    border: 1px solid #DEDEDE;
    border-radius: 3px;
}
.explorerContainer h2{
    padding: 6px 8px !important;
    margin-bottom:10px !important;
    background: #edf5ff;
    background: -moz-linear-gradient(top,  #f3faff 0%, #edf5ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3faff), color-stop(100%,#edf5ff));
    background: -webkit-linear-gradient(top,  #f3faff 0%,#edf5ff 100%);
    background: -o-linear-gradient(top,  #f3faff 0%,#edf5ff 100%);
    background: -ms-linear-gradient(top,  #f3faff 0%,#edf5ff 100%);
    background: linear-gradient(to bottom,  #f3faff 0%,#edf5ff 100%);
    box-shadow: 1px 0 4px rgba(0,0,0,.1);
    text-shadow:1px 0 0 #FFF;
}
span.title {
    font-size: 10pt;
    float: right;
}
.header{
    height:20px;
    border-bottom:1px solid #eee;
}

/*Fix JS calculated layout bug in CM*/
.CodeMirror *{
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.editor .CodeMirror{
    font-size:14px;
    height: 100px;
    border: 1px solid #ccc;
    height:120px;
    font-family: Consolas, Courier, monospace !important;
}
ul.yui3-tabview-list {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}
.yui3-tab-remove {
    color: #999;
    font: bold 80% verdana;
    right: 1.5em;
    margin-right: -8px;
    text-decoration: none;
    position: absolute;
    top: 0.7em;
}
.yui3-tab-selected .yui3-tab-remove {
    top: 0.8em;
}
.yui3-tab-remove:hover {
    color: #666;
    text-decoration: none;
}
.yui3-tab-selected .yui3-tab-remove:hover {
    color: #FFF;
}
.yui3-tab-selected {
    margin-bottom: -1px !important;
}
.yui3-tab {
    position: relative;
    margin: 0 0.2em 0 0 !important;
    padding: 1px 0 0 !important;
}
.yui3-tab-label {
    padding-right: 28px !important;
}
.yui3-tab-pinned, .yui3-tab-add {
    padding-right: 8px !important;
}
.historyContainer {
    padding-bottom: 5px;
}
.historyContainer > select {
    width: 100%;
}
.actionContainer {
    margin: 10px 0 5px 0;
    overflow: hidden;
}
.actionContainer > span {
    float: right;
    margin: 7px 15px 0 0;
}
.buttonContainer {
    width: 100%;
    overflow: hidden;
}
.queryButtons {
    float: left;
}
.paginationButtons {
    float: left;
}
.resultsContainer {
    max-height: 600px;
    width: 100%;
    overflow: auto;
}
#queryTabs ul{
    padding-right:30px;
}
.rn_Loading {
    background: url(../../../images/loading.gif) no-repeat center center;
    height:auto !important;
    height:66px;
    min-height:66px;
}
.resultsLoading {
    text-align: center;
}
.helpContainer {
    height: 315px;
    overflow: auto;
    margin: 10px;
}
.helpContainer > p:last-of-type {
    margin-top: 15px;
}
.settingsContainer{
    padding-left:20px;
    overflow:auto;
    margin:10px;
    min-height:250px;
}
.settingsContainer section{
    margin:5px 0;
}
.settingsContainer h3{
    margin-left: -10px;
}
i.buttonIcon{
    padding:0 5px;
}
.green{
    color:green;
}
.gray{
    color:#808080;
}
.resultsTable table td.yui3-datatable-cell.cellHover {
    background-color: #B2D2FF;
    cursor: pointer;
}
a.link {
    color: blue;
    text-decoration: none;
}
a.link:hover,a.link:focus {
    text-decoration: underline;
}
a.link.cellHover {
    text-decoration: underline;
}

/* objectExplorer */
#breadcrumb{
    margin: 7px;
}
table.objectExplorer {
    border-collapse:collapse;
    margin: 5px;
    border-spacing: 0;
    border: 1px solid #7F7F7F;
    border-radius: 3px;
    width: 98%;
}
table.objectExplorer td, table.objectExplorer th {
    border-left: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}
table.objectExplorer td.cellHover, table.objectExplorer th.cellHover {
    background-color: #B2D2FF;
    cursor: pointer;
}
table.objectExplorer th {
    background-color: #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#d8d8da));
    background-image: -webkit-linear-gradient(top, #fff, #d8d8da);
    background-image: -moz-linear-gradient(top, #fff, #d8d8da);
    background-image: -ms-linear-gradient(top, #fff, #d8d8da);
    background-image: -o-linear-gradient(top, #fff, #d8d8da);
    background-image: linear-gradient(top, #fff, #d8d8da);
    border-top: none;
    color: #000;
    font-weight: bold;
}
table.objectExplorer td:first-child, table.objectExplorer th:first-child {
    white-space: nowrap;
    border-left: none;
}
table.objectExplorer th:first-child {
    border-radius: 3px 0 0 0;
    width: 500px;
}
table.objectExplorer th:last-child {
    border-radius: 0 3px 0 0;
    width: 200px;
}
table.objectExplorer th:only-child {
    border-radius: 3px 3px 0 0;
}
table.objectExplorer tr:last-child, table.objectExplorer td:first-child {
    border-radius: 0 0 0 3px;
}
table.objectExplorer tr:last-child, table.objectExplorer td:last-child {
    border-radius: 0 0 3px 0;
}
table.objectExplorer tr:nth-child(even) {
    background: #edf5ff;
}
table.objectExplorer tr:nth-child(odd) {
    background: #fff;
}
.indicator {
    color: blue;
}
.visible {
    display: block;
    opacity: 1;
}
.hidden {
    display: none;
    opacity: 0;
}
.inspect .metaHeader {
    font-size: 1.1em;
    color: #000;
}
.meta {
    max-height: 730px;
    overflow: auto;
}
.meta a {
    color: blue;
}
.meta a:hover,a:focus {
    text-decoration: underline;
}
.queryHistory {
    position: relative;
    display: inline;
}
.queryHistory button {
    background: #fff;
    background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.9), rgba(250, 250, 250, 0.9), rgba(200, 200, 200, 0.6));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.0, rgba(255, 255, 255, 0.9)), color-stop(0.5, rgba(250, 250, 250, 0.9)), color-stop(1.0, rgba(200, 200, 200, 0.6)));
    border: 1px solid #CCC;
    cursor: pointer;
    padding: 6px 10px;
    *padding: 0;
    text-shadow: 0 1px 0 #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.queryHistory li:hover, .queryHistory button:hover, .queryHistory button:focus, .queryHistory button:not([DISABLED]):hover, .queryHistory button:focus {
    background: -moz-linear-gradient(center top, rgba(200, 200, 200, 0.6), rgba(250, 250, 250, 0.9), rgba(255, 255, 255, 0.9));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1.0, rgba(255, 255, 255, 0.9)), color-stop(0.5, rgba(250, 250, 250, 0.9)), color-stop(0.0, rgba(200, 200, 200, 0.6)));
    text-shadow: 0 -1px 0 #fff;
}
.queryHistory button:before {
    content:"▼";
    border-left: 0.075em solid rgba(0, 0, 0, 0.1);
    float: right;
    font-size: .7em;
    line-height: 2;
    font-style: normal;
    font-weight: normal;
    margin-left: .5em;
    padding-left: .9em;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    -moz-box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);
    box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);
}
.queryHistory > div {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 30px;
    max-height: 250px;
    position: absolute;
    left: 0;
    min-width: 250px;
    max-width: 600px;
    width: 550px;
    z-index: 100;
    display: none;
    opacity: 0;
    border: 1px solid #aaa;
    border-color: rgba(0, 0, 0, 0.3);
    background: #f0f0f0;
    border-radius: .3em;
}
.queryHistory ul {
    min-width: 198px;
    z-index: 100;
    list-style-type: none;
    font-size: .8em;
    margin: 0 !important;
    padding: 0 !important;
}
.queryHistory li {
    padding: .8em !important;
    margin: 0 !important;
    width: 100%;
}
.queryHistory li > span {
    cursor: pointer;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 10px;
    display: inline-block;
    width: 490px;
}
.queryHistory li > a {
    float: right;
    text-decoration: none;
    color: #ccc;
    vertical-align: text-top;
    font-size: 18px;
}
.queryHistory li > a:hover {
    color: #f00;
}
