/***********************************************************
 *     Overview Page - Registered Products
 *     ***********************************************************/
.rn_Overview .rn_RegisteredProducts h2 a,
.rn_Overview .rn_RegisteredProducts h2 strong {
    background:url(images/icons/Asset32.png) no-repeat;
    color:#505050;
    display:block;
    height:26px;
    margin:4px;
    outline:none;
    padding:8px 0 0 40px;
    text-decoration:none;
}
.rn_Overview .rn_RegisteredProducts a:focus,
.rn_Overview .rn_RegisteredProducts a:hover {
    text-decoration:underline;
}
.rn_Overview a.rn_RegisteredProducts {
    background-position: 0 2px;
}
#rn_SearchControls .rn_RegisteredProductSearchInput {
    position: relative;
    width: 80%;
}
#rn_SearchControls .rn_RegisteredProductSearchInput .rn_AdvancedSearchWidget a {
    color: #25383C;
    display: block;
    float: right;
    font-size: 11px;
    margin-right: -100px;
    text-decoration: none;
}
#rn_SearchControls .rn_RegisteredProductSearchInput .rn_AdvancedFilter {
    clear: right;
    overflow: hidden;
    padding: 8px;
}
#rn_SearchControls .rn_RegisteredProductSearchInput .rn_AdvancedFilter button {
    margin: 5px 0 5px 5px;
    width: auto !important;
    width: 60%;
    max-width: 60%;
}
#rn_SearchControls .rn_RegisteredProductSearchInput .rn_AdvancedFilter select {
    margin: 5px 0 5px 5px;
    display: inline-block;
    min-width: 160px;
}
#rn_SearchControls .rn_RegisteredProductSearchInput .rn_AdvancedFilter input {
    margin: 5px 0 5px 5px;
    width: 60%;
    max-width: 60%;
    font-weight: bold;
}
#rn_SearchControls .rn_RegisteredProductSearchInput .rn_AdvancedFilter label {
    color: #333;
    float: left;
    font-weight: bold;
    width: 38%;
    padding-top: 11px;
}
#rn_SearchControls .rn_RegisteredProductSearchInput .rn_AdvancedFilter .rn_Span span {
    margin-top: 5px;
    position: relative;
    display: block;
}
#rn_SearchControls .rn_RegisteredProductSearchInput .rn_AdvancedFilter .rn_Label {
    padding-top: 12px;
}