.rn_PerformanceTest_table{
    border: 1px solid #cbcbcb;
    table-layout: fixed;
    width: 700px;
}

.rn_PerformanceTest_Header {
    border: 1px solid #cbcbcb;
    font-weight: bold;
}

.rn_PerformanceTest_Cell1{
    border: 1px solid #cbcbcb;
    padding: 5px;
    word-wrap: break-word;
}

.rn_PerformanceTest_Cell2{
    border: 1px solid #cbcbcb;
    padding: 5px;
}